<div class="container state-holder">
  <div class="intro-text text-center">
    <h2>{{ page.name }}</h2>
    <div>
      <br />
      {% t state.updates %}<br />
      <span id="website">
        <img src="assets/img/spinner.svg" />
      </span>
      {% if page.counties %}
        <br /><br />
        {% t state.county_information_label %}<br />
        <select name="county" id="county" onchange="toggleCounty(this);">
          <option disabled selected value="">{% t state.select_county %}</option>
        </select>
        <div class="card card-med mx-auto" id="county-holder">
          <div class="card-body" id="county-details"></div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="card card-thin mx-auto invisible" id="hold-currently-eligible">
    <div class="card-body">
      <h4>{% t state.eligibility_question_header %}</h4>
      {% t state.eligibile_groups_intro %}<br />
      <span id="currently-eligible"></span>

      <center>
      {% if page.lat %}
        <a href="#providers">
          <button class="btn btn-primary">{% t state.provider_eligibility_in %}</button>
        </a>
      {% else %}
        <div id="hold-providers-link" class="invisible">
          <br />
          {% t state.provider_list_cta %}<br />
          <span id="providers-link"></span>
        </div>
      {% endif %}
      </center>

    </div>
  </div>

  <div class="card card-wide mx-auto invisible" id="hold-eligible">
    <div class="card-body">
      <h4>{% t state.eligible_vaccine_aquisition_header %}</h4>
      <p id="hold-eligible-notes" class="invisible">
        <strong>{% t state.eligible_notes %}</strong>
        <span id="eligible-notes"></span>
      </p>
      <table>
        <tr><th>{% t state.eligibility_table_group_heading %}</th><th>{% t state.eligibility_table_instructions_heading %}</th></tr>
        <tr>
          <td id="eligible-1"></td>
          <td id="eligible-1-instruct">y</td>
        </tr>
        <tr id="hold-eligible-2" class="invisible">
          <td id="eligible-2"></td>
          <td id="eligible-2-instruct">y</td>
        </tr>
        <tr id="hold-eligible-3" class="invisible">
          <td id="eligible-3"></td>
          <td id="eligible-3-instruct">y</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="card card-med mx-auto invisible" id="hold-not-eligible">
    <div class="card-body">
      <h4>{% t state.ineligible_vaccine_aquisition_header %}</h4>
      <p id="hold-not-eligible-notes" class="invisible">
        <strong>{% t state.ineligible_notes %}</strong>
        <span id="not-eligible-notes"></span>
      </p>
      <table id="not-eligible-phases" class="invisible">
        <tr><th>{% t state.ineligibility_table_group_heading %}</th><th>{% t state.ineligibility_table_timeline_heading %}</th></tr>
        <tr>
          <td id="not-eligible-1"></td>
          <td id="not-eligible-1-time">y</td>
        </tr>
        <tr id="hold-not-eligible-2" class="invisible">
          <td id="not-eligible-2"></td>
          <td id="not-eligible-2-time">y</td>
        </tr>
        <tr id="hold-not-eligible-3" class="invisible">
          <td id="not-eligible-3"></td>
          <td id="not-eligible-3-time">y</td>
        </tr>
      </table>
    </div>
  </div>

  <center>
    <div id="hold-resource-1" class="invisible">
      <br />
      {% t state.additional_resources_label %}<br />
      <span id="resource-1"></span><br />
      <span id="resource-2"></span>
    </div>

    <div id="hold-hotline" class="invisible">
      <br />
      {% t state.state_hotline_label %}
      <span id="hotline"></span>
    </div>

    <div id="status" class="invisible">
      <br />
      As of <strong id="date"></strong>, {{ page.name }} COVID-19 vaccine distribution has entered <strong id="phase"></strong>.
    </div>

    <br />
    <small>
      {% t state.last_updated %} 
      <span id="updated"></span>
    </small>
    <br />
    {% if page.lat %}
    <a href='/feedback?state={{ page.name }}'>
      <button class="button btn btn-primary">
      Did this help? Let us know!
      </button>
    </a>
    {% endif %}
    <a href='/report'>
      <button class="button btn btn-secondary">
      {% t state.submit_correction_link %}
      </button>
    </a>
  </center>
</div>

{{ content }}

<a name="providers"></a>
{% if page.lat %}
  {% include map.html %}
{% endif %}

<script>
  $("#page-top").addClass("bg-light");
  $("#mainNav").css("background-color","#212529");

  $(document).ready(function () {
    $.ajax({
      type: "GET",
      url: 'https://docs.google.com/spreadsheets/d/1ZlVkvo3jIS_Cyek1SWIPyyyZi0_nI_5rEI4VWLJ80dk/gviz/tq?tqx=out:csv&sheet=State%20Summaries',
      dataType: "text",
      success: function (csvData) { parseState(csvData, "{{ page.name }}"); }
    });

    {% if page.counties %}
      $.ajax({
        type: "GET",
        url: `https://docs.google.com/spreadsheets/d/{{page.counties}}/gviz/tq?tqx=out:csv&sheet=data`,
        dataType: "text",
        success: function (csvData) { parseCounties(csvData); }
      });
    {% endif %}
  });

  var converter = new showdown.Converter();
  converter.setOption('openLinksInNewWindow', true);
  converter.setOption('simplifiedAutoLink', true);

  {% if page.counties %}
    function parseCounties(csv) {
      var rows = Papa.parse(csv).data;
      for (i=1; i<rows.length; i++) {
        $('#county').append($('<option>', {
          value: rows[i][0],
          text: rows[i][0],
          disabled: rows[i][1].length == 0
        }));
        var markedRow = converter.makeHtml(rows[i][1]);
        $('#county-details').append($('<div>', {
          class: 'county-detail',
          id: `county-${rows[i][0]}`,
          html: `${rows[i][0]} County: ${markedRow}`
        }))
      }
    }

    function toggleCounty(selected) {
      $('#county-holder').hide();
      $('.county-detail').hide();
      $(`#county-${selected.value}`).show();
      $('#county-holder').show();
    }
  {% endif %}

  function parseState(csv, stateName) {
    var rows = Papa.parse(csv).data;
    var states = rows[0];

    var stateCol;
    for (stateCol=0; stateCol<states.length; stateCol++) {
      if (states[stateCol] == stateName) {
        break;
      }
    }

    data = {};
    for (i=1; i<rows.length; i++) {
      data[rows[i][0]] = rows[i][stateCol];
    }

    $("#website").html(link(data['State Vaccination Website']));
    $("#updated").html(data['Last Updated'] + ' ET');

    if (data['Providers Link'].length > 0) {
      $("#hold-providers-link").removeClass('invisible');
      $("#providers-link").html(link(data['Providers Link']));
    }

    if (data['Resource 1'].length > 0) {
      $("#hold-resource-1").removeClass('invisible');
      mark(data['Resource 1'], 'resource-1');
    }
    if (data['Resource 2'].length > 0) {
      mark(data['Resource 2'], 'resource-2');
    }


    if (data['Date of latest phase start'].length > 1 && data['Name of latest phase'].length > 0) {
      $("#status").removeClass('invisible');

      $("#date").html(data['Date of latest phase start']);
      $("#phase").html(data['Name of latest phase']);
    }

    if (data['List of currently eligible classes'].length > 0) {
      $("#hold-currently-eligible").removeClass('invisible');
      mark(data['List of currently eligible classes'], 'currently-eligible', true);
    }

    if (data['Eligible class 1'].length > 0) {
      $("#hold-eligible").removeClass('invisible');
      mark(data['Eligible class 1'], 'eligible-1', true);
      mark(data['Eligible class 1 instructions'], 'eligible-1-instruct');
    }
    if (data['Eligible class 2'].length > 0) {
      $("#hold-eligible-2").removeClass('invisible');
      mark(data['Eligible class 2'], 'eligible-2', true);
      mark(data['Eligible class 2 instructions'], 'eligible-2-instruct');
    }
    if (data['Eligible class 3'].length > 0) {
      $("#hold-eligible-3").removeClass('invisible');
      mark(data['Eligible class 3'], 'eligible-3', true);
      mark(data['Eligible class 3 instructions'], 'eligible-3-instruct');
    }
    if (data['Eligible classes - Additional links or notes'].length > 0) {
      $("#hold-eligible-notes").removeClass('invisible');
      mark(data['Eligible classes - Additional links or notes'], 'eligible-notes');
    }

    if (data['List of next phase 1 eligible classes'].length > 0 || data['Not eligible - Additional links or notes']) {
      $("#hold-not-eligible").removeClass('invisible');

      if (data['List of next phase 1 eligible classes'].length > 0) {
        $("#not-eligible-phases").removeClass('invisible');
        mark(data['List of next phase 1 eligible classes'], 'not-eligible-1', true);
        var phase1time = data['Next phase 1 estimated start date'];
        if (phase1time.length == 0) { phase1time = '[Unknown]'}
        mark(phase1time, 'not-eligible-1-time');
      }
      if (data['List of next phase 2 eligible classes'].length > 0) {
        $("#hold-not-eligible-2").removeClass('invisible');
        mark(data['List of next phase 2 eligible classes'], 'not-eligible-2', true);
        var phase2time = data['Next phase 2 estimated start date'];
        if (phase2time.length == 0) { phase2time = '[Unknown]'}
        mark(phase2time, 'not-eligible-2-time');
      }
      if (data['List of next phase 3 eligible classes'].length > 0) {
        $("#hold-not-eligible-3").removeClass('invisible');
        mark(data['List of next phase 3 eligible classes'], 'not-eligible-3', true);
        var phase3time = data['Next phase 3 estimated start date'];
        if (phase3time.length == 0) { phase3time = '[Unknown]'}
        mark(phase3time, 'not-eligible-3-time');
      }
      if (data['Not eligible - Additional links or notes'].length > 0) {
        $("#hold-not-eligible-notes").removeClass('invisible');
        mark(data['Not eligible - Additional links or notes'], 'not-eligible-notes');
      }

    }

    if (data['State Vaccination Phone/Hotline'].length > 0) {
      $("#hold-hotline").removeClass('invisible');
      $("#hotline").html(data['State Vaccination Phone/Hotline']);
    }

  }

  function link(str) {
    str = str.trim();
    return `<a target="_blank" href="${str}">${str}</a>`;
  }

  function mark(data, id, list=false) {
    data = data.trim();
    var dataArray = data.split('\n');
    dataArray.forEach((row, i) => {
      if (list) {
        if (row.length > 0) {
          if (dataArray.length > 1) {
            dataArray[i] = `- ${row}`
          } else {
            dataArray[i] = `${row}`
          }
        } else {
          dataArray[i] = '<br /><br />'
        }
      } else {
        if (dataArray.length > 1) {
          dataArray[i] = `${row}<br />`
        } else {
          dataArray[i] = row
        }
      }
    });
    data = dataArray.join('\n');
    $("#"+id).html(converter.makeHtml(data));
  }
</script>
